@import "./global.scss";
.navContainer {
  .iconMenuContainer {
    display: none;
  }
  .desktopMenu {
    display: flex;
    width: 100%;
    justify-content: center;

    ul {
      width: 85%;
      display: flex;
      align-items: center;
      font-size: 2rem;
      list-style: none;
      font-family: "Rubik", sans-serif;
      justify-content: space-evenly;
      font-weight: 300;
      cursor: pointer;

      button {
        border: none;
        width: 135px;
        height: 45px;
        border-radius: 5px;
        background-color: $rojo-principal;
        font-size: 1.8rem;
        color: white;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .iconMenuContainer {
      img {
        width: 200px;
      }
    }
  }
}

.mainContainer {
  display: flex;
  flex-direction: row-reverse;
  height: 70vh;
  width: 100%;

  .informationContainer {
    height: 100%;
    width: 110%;
    .info {
      align-items: center;
      h1 {
        font-size: 5.5rem;
        text-align: left;
        margin-left: 20px;
      }
      p {
        font-size: 2.5rem;
        text-align: left;
        line-height: 38px;
      }
    }

    .buttonsContainer {
      display: flex;
      height: 100px;
      align-items: center;

      .buttons {
        width: 190px;
        height: 60px;
        align-content: flex-start;
        font-size: 1.8rem;
      }
    }
  }

  .imageContainer {
    width: 100%;
    height: 100%;

    .figure {
      height: 350px;
    }

    img {
      width: 500px;
      height: 450px;
    }
  }
}

.features {
  height: 110vh;

  .featuresInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    .featuresInfo {
      margin: 0 auto;
      width: 70%;
      h1 {
        font-size: 3.8rem;
      }

      p {
        font-size: 2.3rem;
        text-align: center;
        padding: 0 50px;
        line-height: 33px;
      }
    }

    .featuresList {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100px;

      .num1 {
        border-top: none;
      }
    }
  }

  .mainFeatureContainer {
    display: flex;
    width: 100%;
    .featureImage {
      width: 50%;
      height: 100%;

      .figure {
        height: 300px;
        width: 400px;
      }

      img {
        width: 400px;
        height: 300px;
      }
    }

    .featureInfo {
      width: 50%;
      height: 100%;

      h1 {
        font-size: 3.5rem;
        text-align: left;
      }

      p {
        font-size: 2rem;
        text-align: left;
      }
    }
  }
}
