@import "./global.scss";
.navContainer {
  .iconMenuContainer {
    display: none;
  }
  .desktopMenu {
    display: flex;
    width: 100%;
    justify-content: center;

    ul {
      width: 85%;
      display: flex;
      align-items: center;
      font-size: 2rem;
      list-style: none;
      font-family: "Rubik", sans-serif;
      justify-content: space-evenly;
      font-weight: 300;
      cursor: pointer;

      li:hover {
        color: $rojo-principal;
      }

      button {
        border: none;
        width: 135px;
        height: 45px;
        border-radius: 5px;
        background-color: $rojo-principal;
        font-size: 1.8rem;
        color: white;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .iconMenuContainer {
      img {
        width: 200px;
      }
    }
  }
}

.mainContainer {
  display: flex;
  flex-direction: row-reverse;
  height: 70vh;
  width: 100%;

  .informationContainer {
    height: 100%;
    width: 110%;
    .info {
      align-items: center;
      h1 {
        font-size: 5.5rem;
        text-align: left;
        margin-left: 20px;
      }
      p {
        font-size: 2.5rem;
        text-align: left;
        line-height: 38px;
      }
    }

    .buttonsContainer {
      display: flex;
      height: 100px;
      align-items: center;

      .buttons {
        width: 190px;
        height: 60px;
        align-content: flex-start;
        font-size: 1.8rem;
      }
    }
  }

  .imageContainer {
    width: 100%;
    height: 100%;

    .figure {
      height: 350px;
    }

    img {
      width: 500px;
      height: 450px;
    }
  }
}

.features {
  height: 110vh;

  .featuresInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    .featuresInfo {
      margin: 0 auto;
      width: 70%;
      h1 {
        font-size: 3.8rem;
      }

      p {
        font-size: 2.3rem;
        text-align: center;
        padding: 0 50px;
        line-height: 33px;
      }
    }

    .featuresList {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100px;

      .num1 {
        border-top: none;
      }
    }
  }

  .mainFeatureContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    .featureImage {
      width: 50%;
      height: 100%;

      .figure {
        height: 300px;
        width: 400px;
      }

      img {
        width: 400px;
        height: 300px;
      }
    }

    .featureInfo {
      width: 50%;
      height: 100%;

      h1 {
        font-size: 3.5rem;
        text-align: left;
      }

      p {
        font-size: 2rem;
        text-align: left;
      }
    }
  }
}

.extension {
  height: 700px;
  width: 100%;

  .information {
    height: 150px;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      font-size: 3.5rem;
    }

    p {
      margin-top: 10px;
      font-size: 2rem;
      text-align: center;
    }
  }

  .downloadExtensions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .one {
      margin-top: 15px;
    }

    .two {
      margin-top: 85px;
    }

    .three {
      margin-top: 150px;
    }

    .chrome {
      width: 290px;
    }
  }
}

.faq {
  .information {
    padding: 0 200px;
    h1 {
      font-size: 3.5rem;
    }
    p {
      font-size: 2rem;
      text-align: center;
    }
  }

  .questions {
    li {
      .question {
        p {
          font-size: 2.1rem;
        }
      }

      .answer {
        font-size: 1.6rem;
        color: $gris;
      }
    }
    width: 70%;
  }
}

.form {
  height: 40vh;

  .titles {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    h1 {
      font-size: 3rem;
    }
    padding: 0 280px;
  }

  .input {
    flex-direction: row;
    input {
      width: 400px;
      margin: 0 10px;
    }
    button {
      width: 120px;
    }
  }
}

footer {
  padding: 0 100px;
  height: 15vh;
  flex-direction: row;
  justify-content: space-between;
  .footerContent {
    width: 50%;
    flex-direction: row;

    p {
      cursor: pointer;
      font-weight: 300;
    }
  }

  .socialMedia {
    display: flex;
    justify-content: space-between;
    width: 110px;
  }
}
