*{
     margin: 0;
     box-sizing: border-box;
     padding: 0;
}

html{
     font-size: 62.5%;
}

$azul-principal : hsl(231, 69%, 60%);
$rojo-principal: hsl(0, 94%, 66%);
$gris: hsl(229, 8%, 60%);
$footer: hsl(229, 31%, 21%);

