@import './global.scss';
@import './mixins.scss';



.navContainer{
     height: 100px;
     width: 100%;
     display: flex;

     .logoContainer{
          width: 50%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          @include center;
     }

     .iconMenuContainer{
          width: 50%;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding: 20px;

          img{
               cursor: pointer;
          }
     }

}


.mainContainer{
     width: 100%;
     height: 100vh;
     position: relative;

     .imageContainer{
          width: 100%;
          height: 50%;
          position: relative;

          img{
               width: 380px;
               height: 280px;
               position: absolute;
               z-index: 2;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
          }

          .figure{
               @include figure;
               border-top-left-radius: 50%;
               border-bottom-left-radius: 50%;
               bottom: 0;
               right: 0;
               height: 200px;
          }
     }


     .informationContainer{
          width: 100%;
          height: 50%;

          .info{
               height: 70%;
               width: 100%;
               display: flex;
               align-items: center;
               justify-content: space-evenly;
               flex-direction: column;

               h1{
                    @include subTitle;
                    font-size: 3.0rem; 
               }
               p{
                    @include paragraph;
                    padding: 0 20px;
               }
          }

          .buttonsContainer{
               width: 100%;
               height: 30%;
               @include center;

               button{
                    @include normalButton
               }



               .specialButton{
                    @include specialButton;
               }
          }
     }

}

.features{
     width: 100%;
     height: 160vh;

     .featuresInfoContainer{
          width: 100%;
          height: 50%;

          .featuresInfo{
               width: 100%;
               height: 50%;
               @include center;
               justify-content: space-evenly;
               flex-direction: column;

               h1{
                    @include subTitle;
               }

               p{
                    @include paragraph;
                    padding: 0 20px;
                    
               }
          }

          .featuresList{
               width: 100%;
               height: 50%;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;

               .num1{
                    border-bottom: 1px solid #cccccc;
                    border-top:1px solid #cccccc;
               }

               .num2{
                    border-bottom: 1px solid #cccccc;
               }

               .num3{
                    border-bottom: 1px solid #cccccc;
               }

               .featureContainer{
                    width: 83%;
                    height: 70px;
                    text-align: center;
                    @include center;

                    h2{
                         font-size: 1.9rem;
                         font-family: 'Rubik', sans-serif;
                         font-weight: 400;
                         cursor: pointer;
                    }
               }
          }
     }

     .displayFeature{
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;

          .featureImage{
               width: 100%;
               height: 60%;
               position: relative;
               .figure{
                    @include figure;
                    bottom: -0;
                    left: -0;
                    position: absolute;
                    border-top-right-radius: 50%;
                    border-bottom-right-radius: 50%;
                    height: 200px;

               }
               img{
                    width: 325px;
                    height: 225px;
                    position: absolute;
                    z-index: 2;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
               }
          }

          .featureInfo{
               height: 40%;
               width: 100%;
               @include center;
               flex-direction: column;
               h1{
                    @include subTitle;
                    margin-bottom: 20px
               
               }

               p{
                    @include paragraph;
                    padding: 0 20px;
               }
          }
     }
}

.extension{
     width: 100%;
     height: 205vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;

     .information{
          @include center;
          justify-content: space-evenly;
          flex-direction: column;
          width: 100%;
          height: 10%;
          margin-bottom: 50px;
          h1{
               @include subTitle;
          }

          p{
               @include paragraph;
               padding: 0 20px;
          }
     }

     .downloadExtensions{
          width: 100%;
          height: 90%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          .chrome{
               @include center;
               flex-direction: column;
               justify-content: space-evenly;
               width: 80%;
               height: 350px;
               border-radius: 15px;
               box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
               margin-bottom: 50px;
               .browser{
                    @include center;
                    justify-content: space-evenly;
                    flex-direction: column;  
                    width: 100%;
                    height: 60%;

                    h1{
                         @include subTitle;
                         font-size: 2.0rem;
                    }

                    p{
                         @include paragraph;
                         font-size: 1.5rem;
                    }
               }

               figure{
                    width: 100%;
                    height: 5%;
               }

               button{
                    @include normalButton;
                    width: 80%;
                    background-color: $azul-principal;
                    color: white;
                    margin: 0 auto;
               }
          }
     }
}